#head {
  margin: 0 auto;
  padding: 10px 10px 0;
  width: 940px;
  background: #cf9;
}
#user-bar {
  font-size: 1.2em;
  float: right;
}
h1 {
  font-size: 3em;
  padding-bottom: 1em;
}
h1 a:link, h1 a:visited {
  color: #090;
}
h1 span {
  color: #000;
}
.notice, .error {
  font-size: 1.2em;
  margin: 0 -10px;
  padding: 4px 10px;
}
.notice {
  background: #9f6;
}
.error {
  background: #f99;
}
#body {
  margin: 10px auto 0;
  padding: 10px;
  width: 940px;
}
.content h2 {
  margin-top: 0;
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.2em;
}
