.clear { clear: both; }
.indent { padding-left: 1.5em; }
a:link {
  text-decoration: underline;
  color: #070;
}
a:visited {
  text-decoration: underline;
  color: #050;
}
a:hover {
  color: #090;
}

h1 {
  font-size: 3em;
  height: 70px;
}
h1 a:link, h1 a:visited {
  text-decoration: none;
}
h1 span {
  border-bottom: 2px solid #fff;
  font-size: 80%;
  vertical-align: top;
}
.notice, .error {
  font-size: 1.2em;
  margin: 0 -10px;
  padding: 4px 10px;
}
.notice {
  background: #9f6;
}
.error {
  background: #f99;
}
#container {
  text-align: left;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  width: 960px;
}
#head {
  margin: 0 auto;
  padding: 10px 10px 0;
  background: #4c2;
}
#head a:link, #head a:visited {
  font-weight: bold;
  color: #fff;
}
#head a:hover {
  color: #cfc;
}
#head p {
  margin: 0 5px;
  padding-bottom: 10px;
  font-size: 1.3em;
}
#user-bar {
  font-size: 1.3em;
  float: right;
}
#middle {
  padding: 0 10px;
}
.content {
  font-size: 1.3em;
}
#footer {
  text-align: center;
  clear: both;
  border-top: 1px solid #999;
  background: transparent;
  color: #000;
  font-size: 1.3em;
  line-height: 1.5em;
}
#left_div {
  float: left;
  width: 630px;
  padding: 0;
  background: #fff;
}
#right_div {
  float: right;
  margin: 10px 0;
  width: 290px;
  padding: 5px;
  background: #090;
  color: #fff;
}
#right_div h2 {
  margin: .5em 0;
  padding: 4px;
  font-size: 1.4em;
}
#right_div h3 {
  margin: .5em 0 .2em;
  padding: 2px 4px;
  font-size: 1.3em;
}
#right_div ul {
  list-style: none;
  margin: .5em 0;
  padding: 0;
  background: #fff;
  color: #333;
}
#right_div .white {
  background: #fff;
  color: #333;
  padding: 2px 5px;
  margin: 0;
}
.box {
  margin: .5em 0;
  padding: 5px;
  border: 1px solid;
}
.box h3 {
  margin-top: 0;
  font-size: 1.3em;
}
.box h4 {
  margin: 0 0 .5em;
  font-size: 1.1em;
}
.last {
  margin: 0;
  line-height: 1em;
}
#urgent {
  border-color: #c00;
  background: #fcc;
}
#upcoming {
  border-color: #00c;
  background: #ccf;
}
#recent-activities {
  border-color: #090;
  background: #cfc;
}
