<div id="recent-activities" class="box">
  <h3>Recent Activities</h2>
  <ul>
  <% @recent_activity.each do |assignment| -%>
    <li><%= link_to assignment.name, project_task_assignment_path(assignment.task.project,assignment.task,assignment) %> -- Updated at <%= assignment.updated_at %>.</li>
  <% end -%>
  </ul>

</div>
