<div id="upcoming" class="box">
  <h3>Upcoming Assignments</h2>
  <ul>
  <% @upcoming_assignments.each do |assignment| -%>
    <li><%= link_to assignment.name, project_task_assignment_path(assignment.task.project,assignment.task,assignment) %> -- Due at <%= showtime(assignment.due_by) %>.</li>
  <% end -%>
  </ul>
</div>
